* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.NavBar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #8d8484;
}

.NavBar h1 {
  /* color: white; */
  font-size: 25px;
}

.NavBar ul {
  width: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font: 24px 'Roboto Slab', sans-serif;
}

.Welcome {
  /* margin: 10vh 0 0 0; */
  font-size: 50px;
  background-color: teal;
}

.SignUp {
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.SignName {
  margin: 5px;
}

.SignEmail {
  margin: 5px;
}

.SignPassword {
  margin: 5px;
}
